/* Other rules */

body {
  background-color: black;
  color: white;
  padding: 0 40px;
  font-family: "netflix";
  font-size: 20px;
}

header img {
  width: 100px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.category {
  display: flex;
  flex-direction: column;
}

span {
  margin-bottom: 20px;
}

.images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  margin-bottom: 30px;
}

img {
  width: 220px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.images::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.images {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
